## C++ #########################################################################

# Prerequisites
**/*.d

# Compiled Object files
**/*.slo
**/*.lo
**/*.o
**/*.obj

# Precompiled Headers
**/*.gch
**/*.pch

# Compiled Dynamic libraries
**/*.so
**/*.dylib
**/*.dll

# Fortran module files
**/*.mod
**/*.smod

# Compiled Static libraries
**/*.lai
**/*.la
**/*.a
**/*.lib

# Executables
**/*.exe
**/*.out
**/*.app

**/build/*

# ignore Lis software library
**/lis*/

# ignore object files
**/*.out
**/*.idea
**/*.vscode

# ignore compressed files
**/*.zip
**/*.rar
**/*.7z
**/*.tar

PC/CUDA/ignore/
